.ava {
  width: 100%;
  height: 430px;
}

.ava img {
  width: 100%; /* Установите ширину изображения равной ширине контейнера */
  height: 100%; /* Установите высоту изображения равной высоте контейнера */
  object-fit: cover; /* Изображение будет масштабироваться и обрезаться по необходимости */
}
